.App {
  max-width: 305px;
  text-align: center;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

.App-title {
  font-size: 1.5rem;
  margin: 15px 0;
}

.App-intro {
  font-size: large;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /* max-width: 800px; */
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  background-color: white;
}

.container {
  max-width: 100%;
  width: 400px;
  /* background-color: #64B254; */
  margin: 0 auto;
}

.row {
  /* margin-top: 1%; */
  /* display: block; */
  width: 308px;
  height: 77px;
  float: left;
  align-content: center;
  margin: 0 auto;
}

.button {
  width: 75px;
  height: 75px;
  padding: 20px;
  background-color: #64B254;
  border: 1px white solid;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  margin: 1px;
}

#clear {
  float: left;
  margin-right: 1px;
  vertical-align: top;
  border: 1px white solid;
}

#display {
  width: 225px;
  height: 75px;
  display: inline-block;
  background-color: #64b2549a;
  border: 1px white solid;
  border-radius: 5px;
  color: black;
  font-size: 2.75rem;
  font-family: "Helvetica", sans serif;
  vertical-align: top;
  text-align: right;
}

#historySection {
  /* display: block; */
  float: left;
  margin: 2px 0;
  font-size: 1rem;
  text-align: center;
  width: 305px;
  background-color: aliceblue;

}

#historyTitle {
  font-size: 1.25rem;
  margin: 20px 0;
}

/* background-color: #64b2549a; */



/* 
#64B254 darker
#84C179 lighter */
